<!-- partial:../../partials/_footer.html -->
<footer>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                <span class="text-center text-sm-left d-block d-sm-inline-block tx-14">Copyright ©
                    <a href="https://dunyo.express/" target="_blank">phonefactory.com </a>2025. Distributed by
                    <a href="https://dunyo.express" target="_blank">PhoneFactory</a></span>
            </div>
        </div>
    </div>
</footer>
<!-- partial -->
</body>
<script src="/js/vendor.bundle.base.js"></script>
<script src="/js/material.js"></script>
<script src="/js/misc.js"></script>

</html>