<%- include('includes/header') %>
  <% if(!member) { %>
    <%- include('login-signup') %>
      <% } else { %>
        <div class="products-container">
          <div class="mdc-layout-grid">
            <div class="restaurant-menu-frame">
              <div class="board">
                <form onsubmit="return validateForm()" action="/admin/product/create" method="POST"
                  class="dish-container" enctype="multipart/form-data">
                  <div class="long-input">
                    <span class="new-dish-txt">NEW PRODUCT DETAIL</span>
                  </div>
                  <div class="login-input-frame">
                    <div class="long-input">
                      <label>Product Name</label>
                      <input type="text" placeholder="Name" name="productName" class="product-name" />
                    </div>
                    <input name="productStatus" value="PAUSE" class="product-status" hidden />
                  </div>
                  <div class="half-input-frame">
                    <div class="half-input">
                      <label>Product Price</label>
                      <input type="number" placeholder="Price" name="productPrice" class="product-price" />
                    </div>
                    <div class="half-input">
                      <label>Product Left Counts</label>
                      <input type="number" value="100" placeholder="Counts" name="productLeftCount"
                        class="product-left-count" />
                    </div>
                  </div>
                  <div class="half-input-frame">
                    <div class="half-input">
                      <label>Product Type</label>
                      <select class="product-collection" name="productCollection">
                        <option value="SMARTPHONE" selected>SMARTPHONE</option>
                        <option value="ACCESSORY">ACCESSORY</option>
                        <option value="TABLET">TABLET</option>
                        <option value="TARIFF">TARIFF</option>
                        <option value="WEARABLE">WEARABLE</option>
                        <option value="AUDIO">AUDIO</option>
                        <option value="CHARGER">CHARGER</option>
                        <option value="CASE">CASE</option>
                        <option value="SCREEN_PROTECTOR">SCREEN_PROTECTOR</option>
                        <option value="OTHER">Other</option>
                      </select>
                    </div>

                    <div class="half-input" id="product-collection">
                      <label>Product Size</label>
                      <select class="product-size" name="productSize">
                        <option value="SMALL">Small</option>
                        <option value="NORMAL">Normal</option>
                        <option value="BIG">Big</option>
                        <option value="SET">Set</option>
                        <option value="32GB" selected>32GB</option>
                        <option value="64GB">64GB</option>
                        <option value="128GB">128GB</option>
                        <option value="256GB">256GB</option>
                        <option value="512GB">512GB</option>
                        <option value="1TB">1TB</option>
                      </select>
                    </div>

                    <div class="half-input" id="tariff-type" style="display: none">
                      <label>Tariff type</label>
                      <select class="product-volume" name="tariffType">
                        <option value="PREPAID" selected>PREPAID</option>
                        <option value="POSTPAID">POSTPAID</option>
                        <option value="ROAMING">ROAMING</option>
                        <option value="STUDENT">STUDENT</option>
                        <option value="FAMILY">FAMILY</option>
                      </select>
                    </div>
                  </div>
                  <div class="long-input">
                    <label>Product Description</label>
                    <textarea name="productDesc" class="product-desc"></textarea>
                  </div>

                  <div class="img-frame">
                    <label>Product Images</label>
                    <div class="media-frame">
                      <div class="upload-img-box">
                        <img src="/img/upload.svg" class="1" id="image-section-1" />
                        <input type="file" id="file" name="productImages" class="image-one" required
                          onchange="previewFileHandler(this,1)" />
                      </div>
                      <div class="upload-img-box">
                        <img src="/img/upload.svg" class="2" id="image-section-2" />
                        <input type="file" id="file" name="productImages" class="image-two"
                          onchange="previewFileHandler(this,2)" />
                      </div>
                      <div class="upload-img-box">
                        <img src="/img/upload.svg" class="3" id="image-section-3" />
                        <input type="file" id="file" name="productImages" class="image-three"
                          onchange="previewFileHandler(this,3)" />
                      </div>
                      <div class="upload-img-box">
                        <img src="/img/upload.svg" class="4" id="image-section-4" />
                        <input type="file" id="file" name="productImages" class="image-four"
                          onchange="previewFileHandler(this,4)" />
                      </div>
                      <div class="upload-img-box">
                        <img src="/img/upload.svg" class="5" id="image-section-5" />
                        <input type="file" id="file" name="productImages" class="image-five"
                          onchange="previewFileHandler(this,5)" />
                      </div>
                      <input name="mobileshopid" class="mobileshop-id" hidden />
                    </div>
                  </div>

                  <div class="operation-buttons">
                    <button type="submit" id="create-btn"
                      class="btn mdc-button mdc-button--unelevated filled-button--success">
                      Success
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript" src="/js/products.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/products.css" />
        <% } %>

          <%- include('includes/footer') %>